.button {
    width: 150px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    display: block;
    border: 1px solid #dddddd;
}

.button-small {
    width: 80px;
}

.button-primary {
    background: $color-primary;
    color: $color-white;

    &:hover {
        color: $color-white;
    }
}

.button-warning {
    background: $color-warning;
    color: $color-white;

    &:hover {
        color: $color-white;
    }
}

.button-danger {
    background: $color-danger;
    color: $color-white;

    &:hover {
        color: $color-white;
    }
}