@font-face {
    font-family: "HQ";
    src: url("../font/SourceHanSansCN-Regular.otf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "HQ_HD";
    src: url("../font/SourceHanSansCN-heavy.otf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

.HQ {
    font-family: 'HQ' !important;
}

.HQ_HD {
    font-family: 'HQ_HD' !important;
}




@font-face {
    font-family: "enJonahRegular";
    src: url("../font/jonah-regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*张海山锐字简*/
@font-face {
    font-family: "cnZHSRZJ";
    src: url("../font/rzbg.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*方正正粗黑简体*/
@font-face {
    font-family: "cnFZZCHJT";
    src: url("../font/fzzchjt.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "cnMSYH";
    src: url("../font/msyh.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "cnMSYHBD";
    src: url("../font/msyhbd.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*方正兰亭大黑*/
@font-face {
    font-family: "GBK_FZ_LT_DH";
    src: url("../font/GBK_FZ_LT_DH.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*汉仪雅酷黑*/
@font-face {
    font-family: "cnHYYKH";
    src: url("../font/HYYakuHei-75W.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

// /*造字工坊悦黑 纤细超长体*/
// @font-face {
//     font-family: "cnZZGFYHQXCCT";
//     src: url("../font/zzgf_yh_6.ttf") format('truetype');
//     font-weight: normal;
//     font-style: normal;
// }


// .cnYAHEI {
//     font-family: 'microsoft yahei' !important;
// }

.cnHYYKH {
    font-family: 'cnHYYKH' !important;
}

.cnZHSRZJ {
    font-family: 'cnZHSRZJ' !important;
}

.enJonahRegular {
    font-family: 'enJonahRegular' !important;
}

.cnFZZCHJT {
    font-family: 'cnFZZCHJT' !important;
}

.cnMSYH {
    font-family: 'cnMSYH' !important;
}

.cnMSYHBD {
    font-family: 'cnMSYHBD' !important;
}

.GBK_FZ_LT_DH {
    font-family: 'GBK_FZ_LT_DH' !important;
}

// .cnZZGFYHQXCCT {
//     font-family: 'cnZZGFYHQXCCT' !important;
// }
