@font-face {
    font-family: "enJonahRegular";
    src: url("../font/jonah-regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*张海山锐字简*/
@font-face {
    font-family: "cnZHSRZJ";
    src: url("../font/rzbg.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*方正正粗黑简体*/
@font-face {
    font-family: "cnFZZCHJT";
    src: url("../font/cnFZZCHJT.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "cnMSYH";
    src: url("../font/MSYH.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "cnMSYHBD";
    src: url("../font/MSYHBD.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

// /*造字工坊悦黑 纤细超长体*/
// @font-face {
//     font-family: "cnZZGFYHQXCCT";
//     src: url("../font/zzgf_yh_6.ttf") format('truetype');
//     font-weight: normal;
//     font-style: normal;
// }


// .cnYAHEI {
//     font-family: 'microsoft yahei' !important;
// }

.cnZHSRZJ {
    font-family: 'cnZHSRZJ' !important;
}

.enJonahRegular {
    font-family: 'enJonahRegular' !important;
}

.cnFZZCHJT {
    font-family: 'cnFZZCHJT' !important;
}

.cnMSYH {
    font-family: 'cnMSYH' !important;
}

.cnMSYHBD {
    font-family: 'cnMSYHBD' !important;
}

// .cnZZGFYHQXCCT {
//     font-family: 'cnZZGFYHQXCCT' !important;
// }
