form {
    font-size: 12px;

    .form-group {
        height: 40px;
        line-height: 40px;
        margin-bottom: 20px;
    }

    input, select {
        height: 30px;
        border: 1px solid #dddddd;
        width: 200px;
        padding: 0 10px;
    }

    label {
        width: 80px;
        display: inline-block;
        text-align: right;
    }

    select {
        background: #ffffff;
        width: 223px;
    }

    input.small {
        width: 100px;
    }
    
    select.small {
        width: 123px;
    }

    .button-group {
        text-align: center;
    }
}

form.horizontal {
    .form-group {
        display: inline-block;
    }
}
