a {
    text-decoration: none;
    color: #333333;

    &:hover {
        color: #333333;
    }
}

ul, li, p {
    list-style: none;
    margin: 0;
    padding: 0;
}

:-webkit-autofill {
    // -webkit-text-fill-color: #fff !important;
    transition: background-color 5000s ease-in-out 0s;
}
