@import "./abstracts/variables";
@import "./base/font";
@import "./base/reset";
@import "./base/form";
@import "./base/table";

$bgColor: #2b2b2b;

.clearFix {
    &:before, &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
    /* If supporting IE 6/7 */
    *zoom: 1;
}

#autoADTXT {
    // width: 100%;
    // display: block;
    // font-family: 'enJonahRegular' !important;
}

#outImg {
    width: 100%;
    // display: block;
}

.colpick {
    height: 180px !important;
}

body {

    // font-family: 'enJonahRegular' !important;
    // font-family: 'cnZHSRZJ' !important;

    // background: $bgColor;
}

html * {
    outline: none;
    font-family: "Segoe UI","Lucida Grande",Helvetica,Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",FontAwesome,sans-serif;
}

header {
    position: relative;
    height: 75px;
    line-height: 75px;
    padding: 0 30px;
    background: $bgColor;
    color: #ffffff;

    h1 {
        padding: 0;
        margin: 0;
    }

    span {
        font-size: 12px;
        font-weight: 100;
        color: #868686;
    };
}

footer {
    // height: 200px;
    // background: $bgColor;
    width: 100%;
}

.img-list {
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 30px;

    li {
        list-style: none;
        width: 300px;
        height: 200px;
        display: inline-block;
        background: #2b2b2b;
        border-radius: 5px;
        overflow: hidden;
        margin: 10px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%;
        transition: all .5s;
        cursor: pointer;
        position: relative;

        span {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            text-align: center;
            height: 40px;
            line-height: 40px;
            color: #ffffff;
            background: hsla(0, 0%, 17%, 0.63);
        }
    }

    li:hover {
        box-shadow: 1px 2px 5px #353535;
        background-position: 60%;
    }

    li img {
        width: 100%;
    }
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background: #ffffff;
    width: 100%;

    .canvas-wrap {
        width: 100%;
        text-align: center;
        background: #f3f3f3;
        overflow: scroll;
        overflow-y: auto;

        .enlarge-canvas,
        .narrow-canvas,
        .close-canvas {
            position: absolute;
            left: 20px;
            z-index: 999;
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            border: 1px solid #dddddd;
            color: #dddddd;
            cursor: pointer;
            transition: all .5s;

            &:hover {
                border: 1px solid #2b2b2b;
                color: #2b2b2b;
                background: #b1b1b1;
            }
        }

        .close-canvas {
            top: 20px;
            // transform: rotate(0deg);
        }

        // .close-canvas:hover {
        //     transform: rotate(180deg);
        // }

        .enlarge-canvas {
            top: 60px;
        }

        .narrow-canvas {
            top: 100px;
        }
    }
}

.option-block {
    float: left;
    width: 30%;
    margin: 1%;
    padding: 1%;
    border: 1px solid #f3f3f3;
    background: #f3f3f3;
}

.history-block {
    margin: 50px 0;
    margin-top: 0;
    float: left;
    width: 60%;
    margin: 1%;
    padding: 1%;
    border: 1px solid #f3f3f3;
    background: #f3f3f3;

    table {
        font-size: 12px;
        width: 85%;
        margin: auto;

        .title {
            font-size: 14px;
        }

        .color {
            width: 20px;
            height: 20px;
            display: inline-block;
            border: 2px solid #333333;
            border-radius: 50%;
            position: relative;
            top: 5px;
            margin: 0 5px;
        }
    }
}

.button {
    width: 80px;
    display: inline-block;
    text-align: center;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    border: 1px solid #333333;
    background: #333333;
    color: #d4d4d4;
    font-weight: 100;
    font-size: 12px;

    &:hover {
        color: #ffffff;
    }
}

.button-big {
    width: 160px;
}

#picker {
    width: 30px;
    border-radius: 50%;
    text-shadow:#000 1px 0 0,#000 0 1px 0,#000 -1px 0 0,#000 0 -1px 0;
}
