$color-white:  #ffffff;
$color-red:    #a25757;
$color-gray:   #8c8c8c;
$color-green:  #57a286;
$color-blue:   #576ca2;
$color-yellow: #FFC107;
$color-black:  #333333;

$color-primary: $color-blue;
$color-error:   $color-red;
$color-danger:  $color-red;
$color-warning: $color-yellow;
$color-info:    $color-green;

$color-title: $color-black;
