$color-white: #ffffff;
$color-red: #b75858;
$color-gray: #8c8c8c;
$color-green: #8bb758;
$color-blue: #588db7;
$color-yellow: #FFC107;

$color-primary: $color-blue;
$color-error:   $color-red;
$color-warning: $color-yellow;
$color-info: $color-blue;