<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body style="padding:0;margin:0" class="admin clearFix">
<header>
    <img src="./images/logo.png" alt="">
    <h1>AD工厂<span>v2.0.0</span> 管理后台</h1>
</header>
<div class="alert alert-success">
    <h1></h1>
</div>
<div class="option-block">
    <span></span>
    <ul>
        <li>
            <p class="classify-0 gray-bg active" data-id="classify">
                分类管理
            </p>
        </li>
        <li>
            <p class="classify-0 gray-bg" data-id="theme">
                主题管理
            </p>
        </li>
        <li>
            <p class="classify-0 gray-bg" data-id="images">
                广告图管理
            </p>
        </li>
        <li>
            <p class="classify-0 gray-bg" data-id="illustration">
                配图管理
            </p>
        </li>
    </ul>
</div>
<div class="container app_container clearFix">
    <div class="block classify-block">
        <form class="add-classify-form">
            <div class="form-group">
                <label for="name">
                    名称:
                </label>
                <input type="text" name="name">
                <p class="error"></p>
            </div>
            <div class="form-group">
                <label for="id">
                    ID:
                </label>
                <input type="text" name="id">
                <p class="error"></p>
            </div>
            <div class="form-group">
                <label for="parentId">
                    父级ID:
                </label>
                <input type="text" name="parentId">
                <p class="error"></p>
            </div>
            <div class="form-group">
                <label for="themeId">
                    主题ID:
                </label>
                <input type="text" name="themeId">
                <p class="error"></p>
            </div>
            <div class="form-group">
                <a href="javascript:;" class="button button-primary add-classify">添加</a>
            </div>
        </form>
        <table>
            <thead>
            <tr>
                <td width="20%">名称</td>
                <td width="20%">ID</td>
                <td width="20%">父级ID</td>
                <td width="20%">主题</td>
                <td width="20%">操作</td>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
    <div class="block theme-block">
        <form class="add-theme-form">
            <div class="form-group name-group">
                <label for="theme-name">
                    主题类型名称:
                </label>
                <input type="text" name="theme-name" id="theme-name">
                <p class="error"></p>
            </div>
            <div class="form-group id-group">
                <label for="theme-id">
                    ID:
                </label>
                <input type="text" name="theme-id" id="theme-id">
                <p class="error"></p>
            </div>
            <div class="form-group">
                <a href="javascript:;" class="button button-primary add-img-theme">添加一种图片主题</a>
            </div>
            <div class="form-group">
                <a href="javascript:;" class="button button-primary add-theme">添加</a>
            </div>
            <div class="img-theme-group">
                <div class="form-group">
                    <label>
                        图片主题a:
                    </label>
                    <input type="text" id="theme-img-a" data-id="a">
                </div>
            </div>

            <p class="warning-txt">＊不提供图片主题类型的删除及更新功能（暂时不需要），只能通过删除大主题重新创建</p>
        </form>
        <div class="theme-list clearFix"></div>
    </div>

    <div class="block images-block">
        <form id="images-form" action="">
            <div>
                <div class="form-group horizontal">
                    <label for="theme-type">
                        主题类型:
                    </label>
                    <select id="images-block--theme-type">
                        <option value="-1">请选择</option>
                    </select>
                    <p class="error"></p>
                </div>
                <div class="form-group horizontal">
                    <label for="theme-name">
                        主题名称:
                    </label>
                    <select type="text" id="images-block--theme-name">
                        <option value="-1">请选择</option>
                    </select>
                    <p class="error"></p>
                </div>
            </div>
            <div>
                <div class="form-group horizontal">
                    <label>
                        一级分类:
                    </label>
                    <select id="images-block--classify-1"></select>
                    <p class="error"></p>
                </div>
                <div class="form-group horizontal">
                    <label for="classify-2">
                        二级分类:
                    </label>
                    <select type="text" id="images-block--classify-2">
                        <option value="-1">请选择</option>
                    </select>
                    <p class="error"></p>
                </div>
                <div class="form-group horizontal">
                    <label for="classify-3">
                        三级分类:
                    </label>
                    <select type="text" id="images-block--classify-3">
                        <option value="-1">请选择</option>
                    </select>
                    <p class="error"></p>
                </div>
            </div>
            <div>
                <div class="form-group horizontal">
                    <label for="fileName">
                        文件名:
                    </label>
                    <input type="text" name="name" id="image_file_name">
                    <p class="error"></p>
                </div>
                <div class="form-group horizontal">
                    <label for="fileUrl">
                        文件路径:
                    </label>
                    <input type="text" name="url" disabled="disabled" id="image_file_Url">
                    <p class="error"></p>
                </div>

                <div class="form-group horizontal">
                    <label for="illustration">
                        是否可配插图:
                    </label>
                    <input type="radio" name="illustration" value="1"> 是
                    <input type="radio" name="illustration" value="0"> 否
                    <p class="error"></p>
                </div>
            </div>

            <div class="form-group horizontal">
                <label for="describe">
                    规则描述:
                </label>
                <input name="describe" id="image_describe">
                <p class="error"></p>
            </div>

            <div class="form-group horizontal">
                <a href="javascript:;" class="button button-primary add-image">添加一种分辨率图片</a>
            </div>

        </form>
        <div class="px-block-group">

        </div>
        <a href="javascript:;" class="button button-primary" id="image-save-button">保存</a>
        <div class="images">

        </div>
    </div>
</div>
</body>
</html>
