<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body style="padding:0;margin:0" class="admin clearFix">
<header>
    <img src="./images/logo.png" alt="">
    <h1>AD工厂<span>v2.0.0</span> 管理后台</h1>
</header>
<div class="alert alert-success">
    <h1></h1>
</div>
<div class="option-block">
    <span></span>
    <ul>
        <li>
            <p class="classify-0 gray-bg active" data-id="classify">
                分类管理
            </p>
        </li>
        <li>
            <p class="classify-0 gray-bg" data-id="theme">
                主题管理
            </p>
        </li>
        <li>
            <p class="classify-0 gray-bg" data-id="images">
                广告图管理
            </p>
        </li>
        <li>
            <p class="classify-0 gray-bg" data-id="illustration">
                配图管理
            </p>
        </li>
    </ul>
</div>
<div class="container app_container clearFix">
    <div class="block classify-block">
        <form class="add-classify-form">
            <div class="form-group">
                <label for="name">
                    名称:
                </label>
                <input type="text" name="name">
                <p class="error"></p>
            </div>
            <div class="form-group">
                <label for="id">
                    ID:
                </label>
                <input type="text" name="id">
                <p class="error"></p>
            </div>
            <div class="form-group">
                <label for="parentId">
                    父级ID:
                </label>
                <input type="text" name="parentId">
                <p class="error"></p>
            </div>
            <div class="form-group">
                <label for="themeId">
                    主题ID:
                </label>
                <input type="text" name="themeId">
                <p class="error"></p>
            </div>
            <div class="form-group">
                <a href="javascript:;" class="button button-primary add-classify">添加</a>
            </div>
        </form>
        <table>
            <thead>
            <tr>
                <td width="20%">名称</td>
                <td width="20%">ID</td>
                <td width="20%">父级ID</td>
                <td width="20%">主题</td>
                <td width="20%">操作</td>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
    <div class="block theme-block">
        <form class="add-theme-form">
            <div class="form-group name-group">
                <label for="theme-name">
                    主题类型名称:
                </label>
                <input type="text" name="theme-name" id="theme-name">
                <p class="error"></p>
            </div>
            <div class="form-group id-group">
                <label for="theme-id">
                    ID:
                </label>
                <input type="text" name="theme-id" id="theme-id">
                <p class="error"></p>
            </div>
            <div class="form-group">
                <a href="javascript:;" class="button button-primary add-img-theme">添加一种图片主题</a>
            </div>
            <div class="form-group">
                <a href="javascript:;" class="button button-primary add-theme">添加</a>
            </div>
            <div class="img-theme-group">
                <div class="form-group">
                    <label>
                        图片主题a:
                    </label>
                    <input type="text" id="theme-img-a" data-id="a">
                </div>
            </div>

            <p class="warning-txt">＊不提供图片主题类型的删除及更新功能（暂时不需要），只能通过删除大主题重新创建</p>
        </form>
        <div class="theme-list clearFix"></div>
    </div>

    <div class="block images-block">
        <div class="forms">
            <form action="">
                <div>
                    <div class="form-group horizontal">
                        <label for="classify-1">
                            一级分类:
                        </label>
                        <select name="classify-1" id=""></select>
                        <p class="error"></p>
                    </div>
                    <div class="form-group horizontal">
                        <label for="classify-2">
                            二级分类:
                        </label>
                        <select type="text" name="classify-1"></select>
                        <p class="error"></p>
                    </div>
                    <div class="form-group horizontal">
                        <label for="classify-3">
                            三级分类:
                        </label>
                        <select type="text" name="classify-1"></select>
                        <p class="error"></p>
                    </div>
                </div>

                <div>
                    <div class="form-group horizontal">
                        <label for="fileName">
                            文件名:
                        </label>
                        <input type="text" name="fileName">
                        <p class="error"></p>
                    </div>
                    <div class="form-group horizontal">
                        <label for="fileUrl">
                            文件路径:
                        </label>
                        <input type="text" name="fileUrl">
                        <p class="error"></p>
                    </div>

                    <div class="form-group horizontal">
                        <label for="illustration">
                            是否可配插图:
                        </label>
                        <input type="radio" name="illustration" value="1"> 是
                        <input type="radio" name="illustration" value="0"> 否
                        <p class="error"></p>
                    </div>
                </div>

                <div class="form-group horizontal">
                    <label for="describe">
                        规则描述:
                    </label>
                    <input name="describe">
                    <p class="error"></p>
                </div>

                <div class="form-group horizontal">
                    <a href="javascript:;" class="button button-primary">添加一种分辨率图片</a>
                </div>

            </form>
            <div class="px-block">
                <form action="">
                    <div class="form-group horizontal">
                        <label for="image-width">
                            图片宽度:
                        </label>
                        <input type="text" name="image-width">
                        <p class="error"></p>
                    </div>
                    <div class="form-group horizontal">
                        <label for="image-height">
                            图片高度:
                        </label>
                        <input type="text" name="image-height">
                        <p class="error"></p>
                    </div>
                    <div class="form-group horizontal">
                        <a href="javascript:;" class="button button-primary">添加一个标题</a>
                    </div>
                </form>

                <div class="txt-block">
                    <form action="">
                        <p class="txt-block-title">标题1</p>
                        <div class="form-group horizontal">
                            <label>
                                表单标签:
                            </label>
                            <input type="text">
                            <p class="error"></p>
                        </div>
                        <div class="form-group horizontal">
                            <label>
                                输入框提示:
                            </label>
                            <input type="text">
                            <p class="error"></p>
                        </div>
                        <div class="form-group horizontal">
                            <label>
                                前置字段:
                            </label>
                            <input type="text">
                            <p class="error"></p>
                        </div>
                        <div class="form-group horizontal">
                            <label>
                                后置字段:
                            </label>
                            <input type="text">
                            <p class="error"></p>
                        </div>
                        <div class="form-group horizontal">
                            <label>
                                最大长度:
                            </label>
                            <input type="text">
                            <p class="error"></p>
                        </div>
                        <div class="form-group horizontal">
                            <label>
                                最小长度:
                            </label>
                            <input type="text">
                            <p class="error"></p>
                        </div>
                        <div class="form-group horizontal">
                            <label>
                                字号:
                            </label>
                            <input type="text">
                            <p class="error"></p>
                        </div>
                        <div class="form-group horizontal">
                            <label>
                                字体:
                            </label>
                            <select>
                                <option value="">请选择</option>
                                <option value="cnYAHEI" class="cnYAHEI">微软雅黑细</option>
                                <option value="cnYAHEIBD" class="cnYAHEI">微软雅黑粗</option>
                                <option value="cnFZZCHJT" class="cnFZZCHJT">方正正粗黑简体</option>
                                <option value="GBK_FZ_LT_DH"  class="GBK_FZ_LT_DH">方正兰亭大黑</option>
                                <option value="cnZHSRZJ" class="cnZHSRZJ">张海山锐线体简</option>
                                <option value="enJonahRegular"  class="enJonahRegular">Jonah Regular</option>
                            </select>
                            <p class="error"></p>
                        </div>
                        <div class="form-group horizontal">
                            <label>
                                字体颜色:
                            </label>
                            <input class="color" type="text" value="#ffffff">
                            <p class="error"></p>
                        </div>
                        <div class="form-group horizontal">
                            <label>
                                间距微调:
                            </label>
                            <input type="text" value="3">
                            <p class="error"></p>
                        </div>
                        <div class="form-group horizontal">
                            <label>
                                X坐标:
                            </label>
                            <input type="text">
                            <p class="error"></p>
                        </div>
                        <div class="form-group horizontal">
                            <label>
                                Y坐标:
                            </label>
                            <input type="text">
                            <p class="error"></p>
                        </div>
                        <div>
                            <div class="form-group horizontal">
                                <label>
                                    字号控制:
                                </label>
                                <input type="radio" value="1" name="fontSize-control"> 是
                                <input type="radio" value="0" name="fontSize-control" checked="checked"> 否
                                <p class="error"></p>
                            </div>
                            <div class="form-group horizontal">
                                <label>
                                    字体颜色控制:
                                </label>
                                <input type="radio" value="1" name="fontColor-control"> 是
                                <input type="radio" value="0" name="fontColor-control" checked="checked"> 否
                                <p class="error"></p>
                            </div>
                            <div class="form-group horizontal">
                                <label>
                                    字体控制:
                                </label>
                                <input type="radio" value="1" name="fontFamily-control"> 是
                                <input type="radio" value="0" name="fontFamily-control" checked="checked"> 否
                                <p class="error"></p>
                            </div>
                        </div>
                        <div>
                            <div class="form-group horizontal">
                                <label>
                                    X坐标控制:
                                </label>
                                <input type="radio" value="1" name="x-control"> 是
                                <input type="radio" value="0" name="x-control" checked="checked"> 否
                                <p class="error"></p>
                            </div>
                            <div class="form-group horizontal">
                                <label>
                                    Y坐标控制:
                                </label>
                                <input type="radio" value="1" name="y-control"> 是
                                <input type="radio" value="0" name="y-control" checked="checked"> 否
                                <p class="error"></p>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="txt-block">
                    <form action="">
                        <p class="txt-block-title">标题1</p>
                        <div class="form-group horizontal">
                            <label>
                                表单标签:
                            </label>
                            <input type="text">
                            <p class="error"></p>
                        </div>
                        <div class="form-group horizontal">
                            <label>
                                输入框提示:
                            </label>
                            <input type="text">
                            <p class="error"></p>
                        </div>
                        <div class="form-group horizontal">
                            <label>
                                前置字段:
                            </label>
                            <input type="text">
                            <p class="error"></p>
                        </div>
                        <div class="form-group horizontal">
                            <label>
                                后置字段:
                            </label>
                            <input type="text">
                            <p class="error"></p>
                        </div>
                        <div class="form-group horizontal">
                            <label>
                                最大长度:
                            </label>
                            <input type="text">
                            <p class="error"></p>
                        </div>
                        <div class="form-group horizontal">
                            <label>
                                最小长度:
                            </label>
                            <input type="text">
                            <p class="error"></p>
                        </div>
                        <div class="form-group horizontal">
                            <label>
                                字号:
                            </label>
                            <input type="text">
                            <p class="error"></p>
                        </div>
                        <div class="form-group horizontal">
                            <label>
                                字体:
                            </label>
                            <select>
                                <option value="">请选择</option>
                                <option value="cnYAHEI" class="cnYAHEI">微软雅黑细</option>
                                <option value="cnYAHEIBD" class="cnYAHEI">微软雅黑粗</option>
                                <option value="cnFZZCHJT" class="cnFZZCHJT">方正正粗黑简体</option>
                                <option value="GBK_FZ_LT_DH"  class="GBK_FZ_LT_DH">方正兰亭大黑</option>
                                <option value="cnZHSRZJ" class="cnZHSRZJ">张海山锐线体简</option>
                                <option value="enJonahRegular"  class="enJonahRegular">Jonah Regular</option>
                            </select>
                            <p class="error"></p>
                        </div>
                        <div class="form-group horizontal">
                            <label>
                                字体颜色:
                            </label>
                            <input class="color" type="text" value="#ffffff">
                            <p class="error"></p>
                        </div>
                        <div class="form-group horizontal">
                            <label>
                                间距微调:
                            </label>
                            <input type="text" value="3">
                            <p class="error"></p>
                        </div>
                        <div class="form-group horizontal">
                            <label>
                                X坐标:
                            </label>
                            <input type="text">
                            <p class="error"></p>
                        </div>
                        <div class="form-group horizontal">
                            <label>
                                Y坐标:
                            </label>
                            <input type="text">
                            <p class="error"></p>
                        </div>
                        <div>
                            <div class="form-group horizontal">
                                <label>
                                    字号控制:
                                </label>
                                <input type="radio" value="1" name="fontSize-control"> 是
                                <input type="radio" value="0" name="fontSize-control" checked="checked"> 否
                                <p class="error"></p>
                            </div>
                            <div class="form-group horizontal">
                                <label>
                                    字体颜色控制:
                                </label>
                                <input type="radio" value="1" name="fontColor-control"> 是
                                <input type="radio" value="0" name="fontColor-control" checked="checked"> 否
                                <p class="error"></p>
                            </div>
                            <div class="form-group horizontal">
                                <label>
                                    字体控制:
                                </label>
                                <input type="radio" value="1" name="fontFamily-control"> 是
                                <input type="radio" value="0" name="fontFamily-control" checked="checked"> 否
                                <p class="error"></p>
                            </div>
                        </div>
                        <div>
                            <div class="form-group horizontal">
                                <label>
                                    X坐标控制:
                                </label>
                                <input type="radio" value="1" name="x-control"> 是
                                <input type="radio" value="0" name="x-control" checked="checked"> 否
                                <p class="error"></p>
                            </div>
                            <div class="form-group horizontal">
                                <label>
                                    Y坐标控制:
                                </label>
                                <input type="radio" value="1" name="y-control"> 是
                                <input type="radio" value="0" name="y-control" checked="checked"> 否
                                <p class="error"></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="images">

        </div>
    </div>
</div>
</body>
</html>
