<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>

</head>
<body style="padding:0;margin:0">
<header>
    <img src="./images/logo.png" alt="">
    <h1>AD工厂<span>版本1.0</span></h1>
</header>
<div class="option-block">
    <span></span>
    <ul>
    </ul>
</div>
<div class="container app_container clearFix">

</div>
</body>
</html>
