<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <!-- <script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script> -->
    <!-- <script type="text/javascript" src="http://www.hqwx.com/subject/0000/colorPicker-master/colors.js"></script>
    <script type="text/javascript" src="http://www.hqwx.com/subject/0000/colorPicker-master/colorpicker.data.js"></script>
    <script type="text/javascript" src="http://www.hqwx.com/subject/0000/colorPicker-master/colorpicker.js"></script>
    <script type="text/javascript" src="http://www.hqwx.com/subject/0000/colorPicker-master/javascript_implementation/jscolor.js"></script> -->
</head>
<body style="padding:0;margin:0">
    <header>
        <img src="./images/logo.png" alt="">
        <h1>AD工厂<span>v1.2.2</span></h1>
    </header>
    <div class="option-block">
        <span></span>
        <ul>
        </ul>
    </div>
    <div class="container app_container clearFix">
        <form class="horizontal gray-bg" action="">
            <div class="form-group">
                <label for="">选择主题</label>
                <select name="" id="themeNames">
                    <option value="-1">请选择</option>
                    <option value="a">基础</option>
                    <option value="b">强化</option>
                    <option value="c">冲刺</option>
                    <option value="d">报名指导</option>
                    <option value="e">解析</option>
                    <option value="f">听课指南</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">选择广告底图</label>
                <select name="" id="fileNames">
                    <option value=""></option>
                </select>
            </div>
            <div class="form-group">
                <label for="">分辨率</label>
                <select name="" id="imgSize">
                    <option value=""></option>
                </select>
            </div>
            <div class="form-group">
                <label for="">配图</label>
                <select name="" id="illustrationNames">
                    <option value=""></option>
                </select>
            </div>
            <div class="form-group">
                <label for="">保存历史</label>
                <input id="history" type="checkbox" checked="checked">
            </div>
            <hidden class="cnMSYH"></hidden>
            <hidden class="cnMSYHBD"></hidden>
            <hidden class="cnFZZCHJT"></hidden>
            <hidden class="cnZHSRZJ"></hidden>
            <hidden class="enJonahRegular"></hidden>
            <hidden class="GBK_FZ_LT_DH"></hidden>
        </form>
        <div class="edit-block">
        </div>
        <div class="canvas-block">
            <div>

            </div>
            <div class="app-mask">
                <span class="square-button enlarge-canvas" title="放大">＋</span>
                <span class="square-button narrow-canvas" title="缩小">－</span>
                <span class="square-button right100" title="100%显示">展开</span>
                <span class="square-button simulation-app" title="打开虚拟环境">虚拟环境</span>
                <span class="square-button save" id="saveImg">保存图片</span>
            </div>
            <canvas id="autoADTXT"></canvas>
            <img id="outImg" src="" alt="">
            <p id="describe" class="describe"></p>
            <p id="error-info" class="error-info"></p>
            <ul class="illustration-list">

            </ul>
        </div>
        <div class="thumbnailImages-block">
            <ul>
                <li>
                    <img src="./images/theme/a/j_blue.jpg" alt="">
                </li>
            </ul>
        </div>
    </div>

    <div id="dialog" class="dialog-wrap">
        <div class="dialog-container">
            <div class="dialog-header">
                版本更新通知
                <span class="close">X</span>
            </div>
            <div class="dialog-body">
                <p>v1.2.2</p>
                <p>1.增加"PC"-"首页"-"课程图"</p>
            </div>
            <div class="dialog-footer">
                <button>知道了，不在提示</button>
            </div>
        </div>
    </div>
</body>
<!-- <script id="tpl-option" type="text/x-handlebars-template">
    {{#each data}}
    <option value="">{{txt}}</option>
    {{/each}}
</script> -->
</html>
