{{#data}}
    <div class="txt-block" id="txt-block-{{key}}">
        <form action="">
            <p class="txt-block-title">标题
                <span class="txt-block-title--key">{{key}}</span>
                <span class="txt-block-del" data-id="txt-block-{{key}}">x</span>
            </p>
            <div class="form-group horizontal">
                <label>
                    表单标签:
                </label>
                <input type="text">
                <p class="error"></p>
            </div>
            <div class="form-group horizontal">
                <label>
                    输入框提示:
                </label>
                <input type="text">
                <p class="error"></p>
            </div>
            <div class="form-group horizontal">
                <label>
                    前置字段:
                </label>
                <input type="text">
                <p class="error"></p>
            </div>
            <div class="form-group horizontal">
                <label>
                    后置字段:
                </label>
                <input type="text">
                <p class="error"></p>
            </div>
            <div class="form-group horizontal">
                <label>
                    最大长度:
                </label>
                <input type="text">
                <p class="error"></p>
            </div>
            <div class="form-group horizontal">
                <label>
                    最小长度:
                </label>
                <input type="text">
                <p class="error"></p>
            </div>
            <div class="form-group horizontal">
                <label>
                    字号:
                </label>
                <input type="text">
                <p class="error"></p>
            </div>
            <div class="form-group horizontal">
                <label>
                    字体:
                </label>
                <select>
                    <option value="">请选择</option>
                    <option value="cnYAHEI" class="cnYAHEI">微软雅黑细</option>
                    <option value="cnYAHEIBD" class="cnYAHEI">微软雅黑粗</option>
                    <option value="cnFZZCHJT" class="cnFZZCHJT">方正正粗黑简体</option>
                    <option value="GBK_FZ_LT_DH"  class="GBK_FZ_LT_DH">方正兰亭大黑</option>
                    <option value="cnZHSRZJ" class="cnZHSRZJ">张海山锐线体简</option>
                    <option value="enJonahRegular"  class="enJonahRegular">Jonah Regular</option>
                </select>
                <p class="error"></p>
            </div>
            <div class="form-group horizontal">
                <label>
                    字体颜色:
                </label>
                <input class="color" type="text" value="#ffffff">
                <p class="error"></p>
            </div>
            <div class="form-group horizontal">
                <label>
                    间距微调:
                </label>
                <input type="text" value="3">
                <p class="error"></p>
            </div>
            <div class="form-group horizontal">
                <label>
                    X坐标:
                </label>
                <input type="text">
                <p class="error"></p>
            </div>
            <div class="form-group horizontal">
                <label>
                    Y坐标:
                </label>
                <input type="text">
                <p class="error"></p>
            </div>
            <div>
                <div class="form-group horizontal">
                    <label>
                        字号控制:
                    </label>
                    <input type="radio" value="1" name="fontSize-control"> 是
                    <input type="radio" value="0" name="fontSize-control" checked="checked"> 否
                    <p class="error"></p>
                </div>
                <div class="form-group horizontal">
                    <label>
                        字体颜色控制:
                    </label>
                    <input type="radio" value="1" name="fontColor-control"> 是
                    <input type="radio" value="0" name="fontColor-control" checked="checked"> 否
                    <p class="error"></p>
                </div>
                <div class="form-group horizontal">
                    <label>
                        字体控制:
                    </label>
                    <input type="radio" value="1" name="fontFamily-control"> 是
                    <input type="radio" value="0" name="fontFamily-control" checked="checked"> 否
                    <p class="error"></p>
                </div>
            </div>
            <div>
                <div class="form-group horizontal">
                    <label>
                        X坐标控制:
                    </label>
                    <input type="radio" value="1" name="x-control"> 是
                    <input type="radio" value="0" name="x-control" checked="checked"> 否
                    <p class="error"></p>
                </div>
                <div class="form-group horizontal">
                    <label>
                        Y坐标控制:
                    </label>
                    <input type="radio" value="1" name="y-control"> 是
                    <input type="radio" value="0" name="y-control" checked="checked"> 否
                    <p class="error"></p>
                </div>
            </div>
        </form>
    </div>
{{/data}}
